h1 {
    font-size: 42px;
}
h2 {
    font-size: 30px;
}
.menu .button {
    font-size: 12px;
}
.vertical-center {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
}
.horizontal-center {
    width: 100%;
    height: 100%;
}
.menu {
    border-radius: 0;
    overflow: auto;
}
.gamearea td {
    font-size: 14px;
}
.winner {
    font-size: 32px;
}

.gamearea {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog-container .dialog {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
    animation: none;
}
.dialog-container .close {
    color: black;
    border-color: black;
}

@media screen and (orientation: landscape) {
    .gamearea {
        grid-template-areas:
            "header-left gamebody header-right"
            "none1 gamebody celloptions"
            "none2 gamebody header-center";
        grid-template-columns: 50px auto 150px;
        grid-template-rows: 50px auto 50px;
    }
    /*.gamearea .gamebody {
        height: 100%;
        width: calc(100% - 150px);
    }
    .gamearea .celloptions {
        height: 100%;
        width: 150px;
    }*/
}
